<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>633223360464-vedib0oper8j8ftob57ne6o1qf4jbbde.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.633223360464-vedib0oper8j8ftob57ne6o1qf4jbbde</string>
	<key>API_KEY</key>
	<string>AIzaSyBHbbpaZEnDyL9Z9u2NGdq4dOQov3yTRuU</string>
	<key>GCM_SENDER_ID</key>
	<string>633223360464</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.meetmiyani.ProjectPart-2</string>
	<key>PROJECT_ID</key>
	<string>final-ios-news-application</string>
	<key>STORAGE_BUCKET</key>
	<string>final-ios-news-application.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:633223360464:ios:ef56548df8223d4c8593d5</string>
</dict>
</plist>